:root {
	--blue: #1992d4;
	--yellow: #facc15;
	--oyellow: #f0b429;
	--kwhite: #e2e8f0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
	overflow: hidden;
}

.sicon {
	width: 50%;
}
.cat img {
	width: 50%;
	border-radius: 1000px;
}
.cat2 {
	width: 40%;
	border-radius: 1000px;
	justify-self: end;
	margin-right: 10%;
}
.cat {
	display: flex;
	justify-content: center;
}
.logo {
	display: flex;
	align-items: center;
	font-size: x-large;
}
.logo .dash {
	width: 5rem;
}
.container {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 100vh;
}
.sidebar {
	background-color: var(--blue);
	display: grid;
	grid-template-rows: 15% 30% 55%;
	justify-items: start;
	padding-left: 15%;
	color: white;
	font-weight: bold;
	gap: 5%;
}
.sidebar ul li{
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 15px;
}
.sidebar :nth-child(3){
	align-self: start;
}
.main {
	background-color: var(--kwhite);
	display: grid;
	grid-template-rows: 15vh 5vh 80vh;
}
.main .top {
	display: grid;
	align-items: center;
	background-color: white;
	padding-top: 0.7%;
	padding-bottom: 0.7%;
}
.top .search {
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
}
.top input {
	border-radius: 1000px;
	background-color: var(--kwhite);
	border: solid white;
}
.top .top1 {
	display: grid;
	grid-template-columns: 5% 80%;
	margin-left: 5%;
}
.top .top2 {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr;
	align-items: center;
	margin-right: 20%;
	column-gap: 3%;
}
.top .top2 .nicon {
	justify-self: end;
}
.top .top2 .name {
	justify-self: start;
	width: 100%;
}
.name,.hello h1 {
	font-size: 1.5rem;
	font-weight: bolder;
}
.hello p {
	font-weight: bolder;
}
.nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
}
.n1 {
	display: grid;
	grid-template-columns: 20% 80%;
	align-items: center;
	justify-items: left;
}
.n2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 60%;
	align-items: center;
	justify-items: center;
	text-align: center;
}
.n2 button {
	background-color: var(--blue);
	border-radius: 1000px;
	border: none;
	width: 50%;
	height: 180%;
	color: white;
}
.n2 :nth-child(1) {
	justify-self: end;
}
.n2 :nth-child(3) {
	justify-self: start;
}

.mid{
	display: grid;
	grid-template-columns: 75% 25%;
	align-items: end;
}
.mid :nth-child(1) {
margin-left: 5%;
}
.bottom{
	display: grid;
	grid-template-columns: 75% 25%;
}
.left{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
}
.card{
	width: 70%;
	height: 60%;
	background-color: white;
	border-radius: 10px;
	border-left: 7px solid var(--oyellow);
	display: grid;
	padding: 5%;
}
.card h1, .right h1, .mid h1{
	font-size: 1.2em;
	font-weight: bold;
}
.card .cardIcon{
	justify-self: end;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: end;
	justify-items: end;
	width: 50%;
	
}
.card .text{
	align-self: end;
	display: grid;
	row-gap: 6px;
}

.card2{
	margin-top: 6%;
	width: 70%;
	height: 70%;
	border-radius: 10px;
	background-color: white;
	grid-template-rows: 1fr 1fr 1fr;
	display: grid;
	align-content: center;
	justify-content: center;
	padding: 10%;
}
.card2-2{
	margin-top: 6%;
	width: 70%;
	height: 63%;
	border-radius: 10px;
	background-color: white;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	display: grid;
	align-content: center;
	justify-content: center;
	padding: 10%;
	row-gap: 5px;
}

.card2 h1{
	font-size: 1em;
	font-weight: bold;
}
.card2 p{
	font-size: 0.9em;
	color: grey;
}
.card2-2 img{
width: 100%;
border-radius: 1000px;
}

.card2A{
	display: grid;
	grid-template-columns: 1fr 3.5fr ;
	column-gap: 15px ;
	width: 100%;
	justify-content: center;
	align-items: center;
	line-height: 20px;
	
}

.card2A p{
	font-size: 0.8em;
	
}

.right{
	display: grid;
	grid-template-rows: 1fr 1fr;
}
